{% extends 'presApp/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="auth-container">
    <form method="post" class="auth-form">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
            {{ error }}<br>
            {% endfor %}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Login</button>
        <p>Don't have an account? <a href="{% url 'login:register_view' %}">Register here</a>.</p>
    </form>
</div>
{% endblock %}