{% extends 'presApp/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="auth-container">
    <form method="post" class="auth-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
            {% for error in form.title.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.pdf_file.label_tag }}
            {{ form.pdf_file }}
            {% for error in form.pdf_file.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% endblock %}
