.navbar {
    background-color: rgb(43 149 255) ;
}

.navbar-brand {
    padding-left: 0.4em;
    color: white !important;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}